/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
}

body {
    
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

h1 {
    font-size: 35px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 26px
}

h4 {
    font-size: 20px
}

h5 {
    font-size: 15px
}

h6 {
    font-size: 10px
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}


#banner{
    background: url(img/farmer-2.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.floating-bg {
    border-radius: 0.5rem;
    padding: 1rem 1.0rem;
    background-color: rgba(0,0,0,0.5);
}
.banner-text {
    text-align: center;
}
.banner-text h1 {
    color: rgb(79, 173, 6);
    font-size: px;
    font-weight: 700;
}

.banner-text p {
    font-size: 20px;
    font-weight: bold;
}
.banner-text h2 {
    color: #ffffff;
}
.banner-text p {
    color: #ffffff;
}

@media (min-width: 992px) {
    .banner-text h1 {
        font-size: 70px;
    }
}

h2, h3 {
    color: rgb(79, 173, 6);
    font-weight: bold;
}

.freepik {
    font-size: 10px;
    color: blue;
    margin-top: -5px;
}

.how-it-works h3 {
    margin-bottom: -16px;
}

.benefits {
    background-color: rgb(240, 220, 220);
}
.benefit h3 {
    margin-bottom: -10px;
}

.cta h2 {
    color: #ffffff;
}

.card-title {
    color: rgb(79, 173, 6);
}